@model HairDesignStudio.Models.WorkerShifts

@{
    ViewData["Title"] = "Ayrıntılar";
}

<h1>Ayrıntılar</h1>

<div>
    <h4>Çalışan Vardiyaları</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkEndTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WorkerId">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
