@model IEnumerable<HairDesginStudio.Models.WorkerShifts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkEndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
