@model IEnumerable<HairDesignStudio.Models.WorkerShifts>

@{
    ViewData["Title"] = "Çalışan Vardiyaları";
}

<h1>Çalışan Vardiyaları</h1>

<p>
    <a asp-action="Create">Yeni Çalışan Vardiyası Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkEndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkStartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkEndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkerId">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.WorkerId">Ayrıntılar</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkerId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
