@model HairDesginStudio.Models.Operations

@{
    ViewData["Title"] = "Ayrıntılar";
}

<h1>Ayrıntılar</h1>

<div>
    <h4>Hizmetler</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationDuration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OperationId">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
