@model HairDesginStudio.Models.Workers

@{
    ViewData["Title"] = "Ayrıntılar";
}

<h1>Çalışan Ayrıntıları</h1>

<div>
    <h4>Çalışanlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerSurname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerSurname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerEMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerEMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkerStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkerStartDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WorkerId">Düzenle</a> |
    <a asp-action="Index">Listeye Geri Dön</a>
</div>
